# PDF & text files
*.pdf
*.txt

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Downloaded models and weights
*/gpt2/

/01-build-llm-from-scratch/ch06_fine-tuning-for-classification/gpt2/
*.pt
*.pth
*.ckpt
*.ckpt.*
*.safetensors

/01-build-llm-from-scratch/ch07_fine-tuning-for-follow- instruction/gpt2/
*.pt
*.pth
*.ckpt
*.ckpt.*
*.safetensors

# OS
.DS_Store
Thumbs.db
